<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title><%= data.pageName %>></title>
</head>

<script> 
	// Function เพื่อตรวจสอบรหัสผ่านว่าตรงกันหรือไม่
	function checkPassword(form) { 
		pwd1 = form.pwd.value; 
		pwd2 = form.cf_pwd.value; 

		 if (pwd1 != pwd2) { 
			alert ("รหัสผ่านไม่ตรงกัน \n(Password did not match)") 
			return false; 
			} 

		//ถ้าทั้งสองช่องตรงกัน  return true
		else{ 
				return true; 
			} 
	} 
</script> 

<body>
    <div class="container mt-3 p-3">
        <%- include('../views/header') %>
        <div class="row">
            <div class="col-md-8 mx-auto text-center  ">
                <div class="<%= data.class %>">
                    <h1 class="display-5"><%= data.message %></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-md-7 mx-auto mt-5 card">
                <div class="card-body">
                    <form onSubmit = "return checkPassword(this)" action="/register" method="POST" id="myform1" name="form1" novalidate>
                        <div class="form-group">
                            <label for="Fname">ชื่อ (First Name) </label>
                            <input type="text" class="form-control" id="Fname" name="Fname" pattern="^[ก-๙A-Za-z]{3,}$" maxlength="50" required>
                            <div class="invalid-feedback">
                                กรุณากรอกชื่อให้ถูกต้อง
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Lname">นามสกุล (Last Name) </label>
                            <input type="text" class="form-control" id="Lname" name="Lname" pattern="^[ก-๙A-Za-z]{3,}$" maxlength="50" required>
                            <div class="invalid-feedback">
                                กรุณากรอกนามสกุลให้ถูกต้อง
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="e_mail">อีเมล (e-mail) </label>
                            <input type="email" class="form-control" id="e_mail" name="e_mail" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
                            <div class="invalid-feedback">
                                กรุณากรอก e-mail ให้ถูกต้อง
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">รหัสผ่าน (Password) </label>
                            <input type="password" class="form-control" id="pwd" name="pwd"  maxlength="20" required>
                            <div class="invalid-feedback">
                                กรุณากรอก password ให้ถูกต้อง 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cf_pwd">ยืนยันรหัสผ่าน (Confirm Password) </label>
                            <input type="password" class="form-control" id="cf_pwd" name="cf_pwd"  maxlength="20" required>
                            <div class="invalid-feedback">
                                กรุณากรอก confirm password ให้ถูกต้อง
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile">หมายเลขมือถือ (Mobile) </label>
                            <input type="text" class="form-control" id="mobile" name="mobile" pattern="^0([8|9|6])([0-9]{8}$)" maxlength="10" required>
                            <div class="invalid-feedback">
                                กรุณากรอกหมายเลขมือถือให้ถูกต้อง
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="age">อายุ (Age) </label>
                            <input type="text" class="form-control" id="age" name="age" maxlength="3">
                        </div>
                        <div class="form-group">
                            <label for="address_p">ที่อยู่ (Address) </label>
                            <textarea class="form-control" id="address_p" name="address_p" rows="3" ></textarea>
                        </div>
                        
                        <div class="text-center p-3">
                            <button type="submit"  class="btn btn-primary">ลงทะเบียน (Register) </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--คำสั่งตรวจสอบเพื่อแจ้งเตือนเมื่อกรอกข้อความไม่ตรงตามเงื่อนไข-->
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>  
    <script type="text/javascript">
        $(function(){
             $("#myform1").on("submit",function(){
                 var form = $(this)[0];
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');         
             });     
        });
    </script> 
</body>
</html>